<div class="logo-wrapper">
<h2 >LOGIN</h2>
</div>

<div class="login-form-wrapper" >
<form class="ro-form" [formGroup]="loginForm"> 
<div class="form-group">
<label class="labelHead" for="username">
<b>Username</b>
</label>
<input type="text" id="username" placeholder="username" formControlName="userName" >
<div *ngIf="userName.errors?.required" class="form-error-messages"
id="error-no-username">
{{emptyUserName}}
</div>

<div *ngIf="userName.errors?.minlength" class="form-error-messages"
id="error-minlength-username">
{{minlengthUserName}}
</div>
<div *ngIf="userName.errors?.maxlength" class="form-error-messages"
id="error-maxlength-username">
{{maxlengthUserName}}
</div>
<div *ngIf="userName.errors?.pattern" class="form-error-messages"
id="error-pattern-username">
{{userNamePattern}}
</div>

</div>
<div class="form-group">
<label class="labelHead" for="password">
<b>Password</b>
</label>
<input type="password" id="password" placeholder="password" formControlName="password">
<div *ngIf="password.errors?.required" class="form-error-messages"
id="error-no-password">
{{emptyPassword}}
</div>
<div *ngIf="password.errors?.minlength" class="form-error-messages"
id="error-minlength-password">
{{minlengthPassword}}
</div>
<div *ngIf="password.errors?.maxlength" class="form-error-messages"
id="error-maxlength-password">
{{maxlengthPassword}}
</div>
<div *ngIf="password.errors?.pattern" class="form-error-messages"
id="error-pattern-password">
{{passwordPattern}}
</div>

</div>
<div class="col-sm-12 clmn12">
<!-- disable button if form not valid -->
<!-- call doLogin method when clicking on this button-->
<button (click)=doLogin() [disabled]="loginForm.invalid" id="loginBtn" class="login-btn" type="submit">Login</button>
</div>

</form>
</div>
